@tailwind base;
@tailwind components;
@tailwind utilities;

.container-outer { @apply mx-auto px-6; max-width: 960px; }

.section-flush { padding-top: 0 !important; padding-bottom: 0 !important; }


.h-hero-671       { height: 671px; }
.minh-skills-610  { min-height: 610px; }
.minh-profile-552 { min-height: 552px; }
.minh-projects-1039{ min-height: 1039.05px; }
.minh-contact-454 { min-height: 454px; }

.h1-48 { @apply font-bold; font-size: 48px; line-height: 1.1; }
